/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Caveat:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Add CSS styling here */

/* *{
    box-sizing:border-box;
    border:1px gray solid;
    max-width:100%;
} */

body{
    background-image:url(../assets/queenalternative.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
}



/* Header & Nav Styles */

header{
    background-color:rgba(0, 65, 65, 0.808);
    height:100%;
}

header h1{
    font-family:'Caveat', cursive;
    color:#fff;
    font-size:3rem;
    margin-left:1%;
    width:30%;
    padding:1%
}
nav.headerNav{
    display:flex;
    flex-direction:row;
    margin:auto 0;
    width:30%;
}

nav a{
    color:teal;
    background-color:orangered;
    text-align:center;
    width:20%;
    padding:1%;
    font-size:1.2rem;
    text-decoration:none;
    font-family:'Bitter', serif;
    border: white 1px solid;
}

/* Main Content Styles */

.aboutmywork.mainContentBox{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

div.mainContentBox{
    width:100%;
    display:flex;
    justify-content:space-around;
}

div.mainContentBox img{
    width:15vw;
    border-radius:50%;
    height:100%;
    display:flex;
    padding-top:2%;
    padding-bottom:2%;
}

h3{
    width:40%;
    font-family:'Caveat', cursive;
    font-size:2rem;
    color:#fff;
    display:flex;
    flex-direction:column;
    margin:2%;
}

div.subtitleBox{
    width:40%;
    height:30vh;
    margin:3%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    background-color:orangered;
}

div.subtitleBox a{
    width:30%;
    display:flex;
    flex-direction:column;
    margin:2%;
    color:teal;
    text-decoration:none;
    text-align:center;
    font-size:2rem;
    font-family:'Bitter', serif;
    background-color:#fff;
}

div.subtitleBox p{
    width:90%;
    margin:2%;
    color:teal;
    font-family:'Bitter', serif;
    font-size:1rem;
    line-height:2rem;
}

/* Gallery Styles */

.gallery{
    height:40vh;
}

.gallery p{
    width:20%;
    height:20%;
    margin:auto;
}

h5{
    font-family:'Caveat', cursive;
    font-size:2rem;
    color:#fff;
    text-align:center;
}

div.gallery{
    display:flex;
    flex-flow:row, wrap;
    justify-content:space-evenly;
}

/* Footer Styles */

footer h5{
    margin-bottom:2%;
}

footer a{
    font-size:2rem;
    text-decoration:none;
    color:orangered;
    font-family:'Bitter', serif;
}

footer{
    background-color:rgba(0, 65, 65, 0.808);
    text-align:center;
    padding:2%;
}